{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "prismjs",
      {
        "languages": ["typescript", "javascript", "css", "markup"],
        "plugins": ["line-numbers", "show-language", "copy-to-clipboard"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
