body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: white !important;
  font-size: 11px;
  background: #01060b;
}
.bi.bi-diagram {
  background-color: #01060b !important;
  overflow: scroll !important;
  border: none !important;
  box-shadow: none !important;
}
a {
  padding: 4px;
  cursor: pointer;
}
a + a {
  margin-left: 4px;
}
a,
a:visited {
  color: white;
}
a:hover {
  opacity: 0.7;
}
.drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  background: #272822;
  padding-left: 16px;
  padding-top: 18px;
  overflow: scroll;
}
.drawer.open {
  transform: translateX(0);
}
.drawerClose {
  position: absolute;
  font-size: 14px;
  top: 8px;
  left: 8px;
}

.line-highlight {
  background: linear-gradient(
    to right,
    hsla(124, 120%, 50%, 0.15) 100%,
    hsla(24, 20%, 50%, 0)
  ) !important;
}
div.code-toolbar > .toolbar {
  top: -4px;
}
.sideNavContainer {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #333130;
  z-index: 10;
}
.sideNav {
  height: 100%;
  overflow: scroll;
  list-style: none;
  padding: 20px 20px 0 20px;
  margin: 0;
}
.sideNav li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sideNavItem {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sideNavLink {
  margin-left: 8px;
  color: inherit;
}
.sideNavLink.active {
  color: yellow;
}

.diagramWrapper {
  margin-left: 160px;
}

.customNode {
  background: #01060b;
  border-radius: 10px;
  border: solid 1px white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.customNodeInput {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.customNodeOutput {
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.customNodeInput:hover,
.customNodeOutput:hover {
  opacity: 0.7;
}
.customNode.active {
  border-color: yellow;
}

.customNodeId {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.customNodeToolbar {
  text-align: right;
}
